name: mini_music_visualizer
description: A flutter package for show simple music visualizer animation
version: 1.0.1
homepage: https://github.com/mpcreza/mini_music_visualizer

environment:
  sdk: ">=2.15.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
